
# env
/.score
/.statedb
/.vscode
/tbearsenv


# testing & config
rc.log
tbears_cli_config.json
tbears_server_config.json
tbears_testnet_config.json
tbears.log
yeouido1
yeouido2

.DS_Store
__pycache__