
# envs
.score
.statedb
.vscode
tbearsenv/

# configs
tbears_cli_config.json
tbears_server_config.json
tbears_testnet_config.json

# logs
rc.log
tbears.log
tbears.log.*

# keys
yeouido1
yeouido2

# misc
.DS_Store
__pycache__